<h1>Admin Shelter Page</h1>
<% @shelters.each do |shelter| %>
<ul>
  <li> <%= shelter.name  %> </li>
</ul>
<% end %>

<h3>Shelters with Pending Applications</h3>
<section id = "pending_applications">
<% @shelter_pending.each do |shelter| %>
 <ul>
   <li> <%=shelter.name %>  </li>
 </ul>
 <%end %>
</section>
